@import "./config";
@import "./home";
@import "./menu";
@import "./about";
@import "./projects";
@import "./contact";
@import "./responsive";

.main_div {
  height: 100%;
  width: 100%;

  .social_icons {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;

    a {
      padding: 0.4rem;
      @include transition-ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.orange_text {
  color: $secondary-color;
}
